<h3> character list </h3>

<select (change)="onChange($event.target.value)">
  <option value="All">All Roles</option>
  <option value="Tank">Tanks</option>
  <option value="Support">Support</option>
  <option value="Ranged DPS">Ranged DPS</option>
  <option value="Melee DPS">Melee DPS</option>
</select>

<div class="row" *ngFor="let character of characters | async">
  <div class="col-md-7">
    <ul>
      <a href="#" (click)="goToDetails(character)"><li>{{character.name}}</li></a>
      <li class="name">{{character.race}}</li>
      <li class="class">{{character.characterclass}}</li>
      <li class="level">{{character.level}}</li>
      <li class="role">{{character.role}}</li>
      <li class="allignment">{{character.allignment}}</li>
    </ul>
  </div>
  <div class="col-md-3">
    <h3> image placeholder </h3>
  </div>

</div>
