@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

li {
  list-style-type: none;
}

.character-list {
  padding-top: 30px;
}

div {
  border: solid;
}

.name {
  font-size: 40px;
  /*font-weight:bolder;*/
  font-family: 'Great Vibes', cursive;

}
